{% extends 'base.html.twig' %}

{% block title %}New Inventar{% endblock %}

{% block body %}
    <h1>Create new Inventar</h1>

    {{ include('inventar/_form.html.twig') }}

    <a href="{{ path('app_inventar_index') }}">back to list</a>
{% endblock %}
